.container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.starContainer {
  display: flex;
  align-items: center;
}

.text {
  line-height: 1;
  margin: 0;
}

.star {
  width: 32px;
  height: 32px;
  display: inline-block;
  cursor: pointer;
}
